* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    width: 900px;
    height: 100%;
}

.input-wrapper {
    width: 100%;
    height: 70px;
    background-color: #87ceeb;
}

.input-wrapper .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-file {
    display: none;
}

.file-name {
    font-weight: 600;
    text-transform: uppercase;
}

.selecting-img, .btn-load-img {
    border: 2px solid #000;
    padding: 10px;
    background-color: #ff6347;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-load-img {
    background-color: #3cb371;
}

.file-list {
    margin-top: 20px;
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr;
}

.file-list__item {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.item__group {
    width: 100%;
    display: flex;
}

.item__icon {
    width: 50px;
    height: 100%;
    background-size: auto 80%;
    background-position: center center;
    background-repeat: no-repeat; 
}

.docx {
    background-image: url(./src/icons/docx.png);
}

.txt {
    background-image: url(./src/icons/txt.png);
}

.item__desc {
    padding: 10px;
}

.item__btn-delete {
    border: none;
    width: 50px;
    background-color: transparent;
    background-image: url(./src/icons/trash.png);
    background-size: auto 80%;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}